*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(255, 255, 255);
}

.nav-bar{
    height: 100vh;
    width: 100%;
    /* Sample Background */
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(../WEB-IGRC/Images/Background.jpg);
    background-size: cover;
    background-position: center;
}

nav{
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 10px;
}

.Logo{
    max-width: fit-content;
    display: block;
    height: 70px;
}

.links{
    list-style-type: none;
    display: flex;
    gap: 3rem;
}

.link{
    color: white;
    text-decoration: none;
}

.link:hover{
    color: orangered;
    transition: .3s;
}

button{
    border: none;
    background: orangered;
    padding: 12px 30px;
    border-radius: 5px;
    color: white;
    font-size: 15px;
    font-weight: bold;
    transition: .4s;
}
button:hover{
    transform: scale(1.2);
    cursor: pointer;
}

.main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 70px;
}

.qoute{
    font-family:'Times New Roman', Times, serif;
    text-align: center;
    color: aliceblue;
    margin-left: 30px;
    margin-top: 20px;
}

.qoute h1{
    font-size: 35px;   
}

.word{
    color: aqua;
    font-size: larger;
}

p{
    margin-top: 10px;
    font-size: 30px;
}

.read{
    margin-top: 10px;
} 


h2{
    color: white;   
    font-size: 30px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    margin-bottom: 30px;
}
span{
    color: orangered;
}

iframe{
    width: 100%;
    height: 350px;
    border:0;
    border-radius: 20px;
    padding: 10px;
    background-color: greenyellow;
}

